{% load static %}
<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ saludo }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/zephyr.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>
<body>
    <div class="container mt-1 mb-3">
        <h1 class="text-center">Accidentabilidad</h1>
    </div>
    <div class="mt-3 container d-flex justify-content-between align-items-center col-lg-12">
        <div class="col-lg-6">
            <div>
                <canvas width="800" height="250" id="datos_accidentabilidad"></canvas>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-start">
            <div>
                <canvas width="300" height="250" id="indices_"></canvas>
            </div>
            <div class="custom-scrollbar-total">
                <table class="table_res_final table-hover">
                    <thead>
                        <tr>
                            <th>Mes</th>
                            <th>Total de empleados</th>
                            <th>Cálculo total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for det in detalles_acci %}
                            <tr>
                                <td>{{ det.0 }}</td>
                                <td>{{ det.1 }}</td>
                                <td>{{ det.4 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>TOTAL</td>
                            <td>{{ total_emp }}</td>
                            <td>{{ total_est }}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="mt-5 container">
        <div class="custom-scrollbar d-flex justify-content-between align-items-start col-lg-12">
            <div class="col-lg-6">
                <h4 class="text-center">Personal propio</h4>
                <table class="table_res table table-hover">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Cantidad de empleados</th>
                            <th>Horas de trabajo</th>
                            <th>Jornada laboral</th>
                            <th>Cálculo total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for con in personal_contratado %}
                            <tr>
                                <td>{{ con.5 }} {{ con.6 }}</td>
                                <td>{{ con.1 }}</td>
                                <td>{{ con.2 }}</td>
                                <td>{{ con.3 }}</td>
                                <td>{{ con.4 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6">
                <h4 class="text-center">Personal subcontratado</h4>
                <table class="table_res table table-hover">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Cantidad de empleados</th>
                            <th>Horas de trabajo</th>
                            <th>Jornada laboral</th>
                            <th>Cálculo total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for propio in personal_propio %}
                        <tr>
                            <td>{{ propio.5 }} {{ propio.6 }}</td>
                            <td>{{ propio.1 }}</td>
                            <td>{{ propio.2 }}</td>
                            <td>{{ propio.3 }}</td>
                            <td>{{ propio.4 }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        <div class="custom-scrollbar mt-3">
            <table class="table_res table table-hover">
                <thead>
                    <tr>
                        <th>Mes</th>
                        <th>Cantidad de empleados</th>
                        <th>Accidentes con baja</th>
                        <th>Días incapacitantes</th>
                        <th>Cálculo total</th>
                        <th>Índice de frecuencia</th>
                        <th>Índice de gravedad</th>
                    </tr>
                </thead>
                <tbody class="tbody_det">
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <form class="card card-body form-registro mt-2 mb-2">
            <h3 class="text-center">Registro de accidentabilidad</h3>
            {% csrf_token %}
            <div class="d-flex align-items-center col-lg-12 mt-1 mb-1">
                <div class="d-flex justify-content-center align-items-center">
                    <label class="col-lg-5">Seleccionar mes</label>
                    <div class="col-lg-7">
                        <select name="sl_mes" class="form-select">
                            <option selected disabled>--Seleccionar--</option>
                            <option value="ENERO">ENERO</option>
                            <option value="FEBRERO">FEBRERO</option>
                            <option value="MARZO">MARZO</option>
                            <option value="ABRIL">ABRIL</option>
                            <option value="MAYO">MAYO</option>
                            <option value="JUNIO">JUNIO</option>
                            <option value="JULIO">JULIO</option>
                            <option value="AGOSTO">AGOSTO</option>
                            <option value="SEPTIEMBRE">SEPTIEMBRE</option>
                            <option value="OCTUBRE">OCTUBRE</option>
                            <option value="NOVIEMBRE">NOVIEMBRE</option>
                            <option value="DICIEMBRE">DICIEMBRE</option>
                        </select>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <label class="col-lg-2">Año</label>
                    <div class="col-lg-4">
                        <input type="text" name="anio" class="form-control">
                    </div>
                </div>
            </div>
            <h5>Personal propio</h5>
            <div class="d-flex justify-content-around align-items-center col-lg-12">
                <div class="col-lg-3">
                    <label class="d-block">Cantidad de empleados</label>
                    <input type="number" class="form-control" step="any" name="c_personal">
                </div>
                <div class="col-lg-3">
                    <label class="d-block">Horas de trabajo</label>
                    <input type="number" class="form-control" step="any" name="h_trabajo">
                </div>
                <div class="col-lg-3">
                    <label class="d-block">Dias laborados</label>
                    <input type="number" class="form-control" step="any" name="jornada">
                </div>
            </div>
            <div class="mt-2 d-flex justify-content-around col-lg-12">
                <div class="col-lg-5">
                    <label class="d-block">Accidentes con baja</label>
                    <input type="number" class="form-control" step="any" name="acci_c_baja">
                </div>
                <div class="col-lg-5">
                    <label class="d-block">Dias incapacitantes</label>
                    <input type="number" class="form-control" step="any" name="dias_inc">
                </div>
            </div>
            <h5>Personal subcontratado</h5>
            <div class="d-flex justify-content-around align-items-center col-lg-12">
                <div class="col-lg-3">
                    <label class="d-block">Cantidad de empleados</label>
                    <input type="number" class="form-control" step="any" name="c_personal">
                </div>
                <div class="col-lg-3">
                    <label class="d-block">Horas de trabajo</label>
                    <input type="number" class="form-control" step="any" name="h_trabajo">
                </div>
                <div class="col-lg-3">
                    <label class="d-block">Dias laborados</label>
                    <input type="number" class="form-control" step="any" name="jornada">
                </div>
            </div>
            <div class="mt-2 d-flex justify-content-around col-lg-12">
                <div class="col-lg-5">
                    <label class="d-block">Accidentes con baja</label>
                    <input type="number" class="form-control" step="any" name="acci_c_baja">
                </div>
                <div class="col-lg-5">
                    <label class="d-block">Dias incapacitantes</label>
                    <input type="number" class="form-control" step="any" name="dias_inc">
                </div>
            </div>
            <input type="submit" id="btnEnviar" class="btn btn-success form-control mt-3" value="Registrar">
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0/dist/chartjs-plugin-datalabels.min.js"></script>
    <script src="{% static 'js/mcgreen/accidentability.js' %}"></script>
</body>
</html>