@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: flex;
}

header {
    position: fixed;
    width: 40vh;
    height: 100vh;
    padding: 0 5px;
    background-color: rgb(0, 255, 162);
}

header h1 {
    text-align: center;
}

h1 {
    font-size: 2.3em;
}

a {
    text-decoration: none;
}

.list {
    margin-top: 20px;
}

.link {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 14px 7px;
    display: block;
    font-size: 1.5em;
    font-weight: 800;
    color: #000;
    overflow: hidden;
    transition: all .5s;
}

.link:hover {
    color: #fff;
    background-color: #000;
}

.link::before,
.link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 10px;
    background-color: #000;
    transition: all .5s;
}

.link::before {
    top: 5px;
    left: 0;
}

.link::after {
    right: -100px;
    bottom: 5px;
}

.link:hover::before {
    width: 100%;
}

.link:hover::after {
    width: 100%;
    right: 0;
}


.link span {
    position: relative;
    z-index: 3;
}

.container {
    padding: 20px;
    width: 100%;
    margin-left: 20%;
}


/* Formato de input tipo number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }

/* Formato inputs, selects y textareas */
input,
select,
textarea {
    outline: none;
    border: none;
    font-family: 'Roboto';
}


/* ?? Estilo de tabla - General */
.table {
    width: 100%;
    border-radius: 5px;
    border-collapse: collapse;
    font-weight: 700;
}

.t_header tr th{
    padding: 8px 3px;
    text-transform: uppercase;
}

.table .t_header tr th {
    text-align: center;
}

.table .t_header tr th,
.table .t_body tr td {
    border-bottom: 1px solid rgba(0, 0, 0, .4);
}

.table .t_body tr {
    line-height: 40px;
    transition: all .3s ease-out;
}

.table .t_body tr td {
    padding: 10px;
    font-size: 18px;
    text-align: center;
    order: 1;
}

.table .t_body tr:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
}

.scroll {
    width: 65%;
    min-height: 500px;
    overflow-y: scroll;
}

/* ?? Estilos de botones eliminar y modificar */
.btn-modificar,
.btn-eliminar {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px 15px;
    transition: all .3s ease;
}

.btn-modificar:hover {
    background-color: rgba(9, 40, 240, 0.963);
    color: #fff;
}

.btn-eliminar:hover {
    background-color: rgba(209, 16, 16, 1);
    color: #fff;
}

/* ?? Alineación al centro */
.center {
    text-align: center;
}


/* ?? Estilos para data-title en botones */
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: #fffffd;
    color: #000;
    font-size: 24px;
    font-family: Raleway;
    position: absolute;
    padding: 5px 15px;
    bottom: 1.6em;
    /* left: -100%; */
    white-space: nowrap;
    border: 2px solid #111;
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;
    
}
[data-title] {
    position: relative;
}