{% load static %}
<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/principal.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="{% static 'css/items.css' %}">
</head>
<body>
    <header>
        <h1>Plataforma industrial</h1>
        <nav class="list">
                <a href="{% url 'principal' %}" class="link"><span>General</span></a>
                <a href="{% url 'actividades' %}" class="link"><span>Actividades</span></a>
                <a href="{% url 'items' %}" class="link"><span>Artículos</span></a>
                <a href="{% url 'manteinment' %}" class="link"><span>Mantenimiento preventivo</span></a>
        </nav>
    </header>
    <div class="container">
        <h1>Máquinas y/o equipos</h1>
        <div class="flex-cont">
            <div class="form-content-item">
                <form class="form-item" id="form_item">
                    {% csrf_token %}
                    <h2 class="center">Registrar item</h2>
                    <div class="input-box">
                        <label>Código</label>
                        <input type="text" name="cod_item" class="input">
                    </div>
                    <div class="input-box">
                        <label>Nombre</label>
                        <input type="text" name="name_item" class="input">
                    </div>
                    <div class="input-box">
                        <label>Cantidad (opcional)</label>
                        <input type="number" name="quantity_item" class="input">
                    </div>
                    <div>
                        <input type="submit" class="btnSend" value="Registrar">
                    </div>
                </form>
            </div>
            <div class="scroll">
                <table class="table">
                    <thead class="t_header">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="t_body" id="items">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="update_hidden" id="content-hidden">
        <form class="form_update">
            {% csrf_token %}
            <a class="btnClose">X</a>
            <div class="flex">
                <div class="content-update">
                    <input type="text" name="id_" class="inp_hid" disabled>
                </div>
            </div>
            <div class="flex">
                <div class="content-update">
                    <label>Nombre</label>
                    <label>Cantidad</label>
                </div>
                <div class="content-update">
                    <input type="text" class="inp_hid" name="new_name">
                    <input type="text" class="inp_hid" name="new_stuck">
                </div>
            </div>
            <div class="content-update-btn">
                <input type="submit" class="btnUpd" value="Realizar cambios">
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.32/dist/sweetalert2.all.min.js"></script>
    <script src="{% static 'js/general-config.js' %}"></script>
    <script src="{% static 'js/items.js' %}"></script>
</body>
</html>