{% extends 'plataforma/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/item.css' %}">
{% endblock %}

{% block content %}
    <h1 class="center">Equipo: {{ item }}</h1>
    <main class="box">
        <h2>Características generales</h2>
        {% for c in caracteristicas %}
        <div class="grid-area">
            <div class="flex">
                <div>
                    <p>Nombre:</p>
                    <p>{% if c.2 != None %} {{ c.2 }} {% endif %}</p>
                </div>
                <div>
                    <p>Código:</p>
                    <p>{% if c.1 != None %} {{ c.1 }} {% endif %}</p>
                </div>
                <div>
                    <p>Marca:</p>
                    <p>{% if c.4 != None %} {{ c.4 }} {% endif %}</p>
                </div>
                <div>
                    <p>Fecha de compra:</p>
                    <p>{% if c.5 != None %} {{ c.5 }} {% endif %}</p>
                </div>
                <div>
                    <p>Estado:</p>
                    <p>{% if c.3 != None %} {{ c.3 }} {% endif %}</p>
                </div>
            </div>
            <div class="flex">
                <div>
                    <p>Cantidad:</p>
                    <p>{% if c.11 != None %} {{ c.11 }} {% endif %}</p>
                </div>
                <div>
                    <p>Serie:</p>
                    <p>{% if c.7 != None %} {{ c.7 }} {% endif %}</p>
                </div>
                <div>
                    <p>Modelo:</p>
                    <p>{% if c.6 != None %} {{ c.6 }} {% endif %}</p>
                </div>
                <div>
                    <p>Ubicación:</p>
                    <p>{% if c.8 != None %} {{ c.8 }} {% endif %}</p>
                </div>
                <div>
                    <p>Fecha de vencimiento de garantía:</p>
                    <p>{% if c.9 != None %} {{ c.9 }} {% endif %}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </main>
    <main class="box" id="provider-content">
        <h2>Datos del proveedor</h2>
        {% if existe_prov %}
        <div class="grid-area">
            {% for prov in provider %}
            <div class="flex">
                <div>
                    <label>Nombre:</label>
                    <input type="text" class="input_prov id" name="prov_nam" value="{{ prov.0 }}" disabled>
                </div>
                <div>
                    <label>Telefono:</label>
                    <input type="text" class="input_prov" name="phone" value="{{ prov.1 }}" disabled>
                </div>
            </div>
            <div class="flex">
                <div>
                    <label>Correo:</label>
                    <input type="text" class="input_prov" name="email" value="{{ prov.2 }}" disabled>
                </div>
                <div>
                    <label>País:</label>
                    <input type="text" class="input_prov" name="country" value="{{ prov.3 }}" disabled>
                </div>
            </div>
            <div class="btns">
                <button type="button" class="btn select-mod"><i class="fa-solid fa-pencil"></i></button>
                <button type="button" class="btn select-del"><i class="del fa-solid fa-trash-can"></i></button>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <form class="form_create">
            {% csrf_token %}
            <div class="content-update">
                <input type="text" name="item" value="{{ item }}" disabled>
            </div>
            <div class="flex_form select_box">
                <div class="content-update-select">
                    <label>Proveedor</label>
                    <select name="sl_providers" class="sl_providers"></select>
                    <button type="button" class="select_option"><i class="fa-sharp fa-solid fa-circle-check"></i></button>
                </div>
            </div>
            <div class="flex_form content-new-prov">
                <div class="content-update">
                    <label>Código o RFC</label>
                    <label>Nombre</label>
                    <label>Télefono</label>
                    <label>Email</label>
                    <label>País</label>
                </div>
                <div class="content-update">
                    <input type="text" name="id_prov" class="inp_hid">
                    <input type="text" name="prov_name" class="inp_hid">
                    <input type="text" name="number_phone" class="inp_hid">
                    <input type="text" name="email" class="inp_hid">
                    <input type="text" name="country" class="inp_hid">
                </div>
            </div>
            <div class="content-update-btn">
                <button type="submit" class="btnUpd btnSend">Realizar cambios</button>
            </div>
        </form>
        {% endif %}
    </main>
{% endblock  %}
{% block js_code %}
    <script src="{% static 'js/item.js' %}"></script>
{% endblock %}