{% extends 'plataforma/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/item.css' %}">
{% endblock %}

{% block content %}
    <h1 class="center">Item {{ item }}</h1>
    <main class="box">
        <h2>Características generales</h2>
        <div class="grid-area">
            <div class="flex">
                <div>
                    <p>Nombre:</p>
                    <p>{{ item_info.0 }}</p>
                </div>
                <div>
                    <p>Cantidad:</p>
                    <p>{{ item_info.1 }}</p>
                </div>
            </div>
            <div class="flex">
                <div>
                    <p>Nombre:</p>
                    <p>{{ caracteristicas.2 }}</p>
                </div>
                <div>
                    <p>Código:</p>
                    <p>{{ caracteristicas.1 }}</p>
                </div>
                <div>
                    <p>Marca:</p>
                    <p>{{ caracteristicas.4 }}</p>
                </div>
                <div>
                    <p>Fecha de compra:</p>
                    <p>{{ caracteristicas.5 }}</p>
                </div>
                <div>
                    <p>Estado:</p>
                    <p>{{ caracteristicas.3 }}</p>
                </div>
            </div>
            <div class="flex">
                <div>
                    <p>Serie:</p>
                    <p>{{ caracteristicas.7 }}</p>
                </div>
                <div>
                    <p>Modelo:</p>
                    <p>{{ caracteristicas.6 }}</p>
                </div>
                <div>
                    <p>Ubicación:</p>
                    <p>{{ caracteristicas.8 }}</p>
                </div>
                <div>
                    <p>Fecha de vencimiento de garantía:</p>
                    <p>{{ caracteristicas.9 }}</p>
                </div>
            </div>
        </div>
    </main>
    <main class="box" id="provider-content">
        <h2>Datos del proveedor</h2>
        {% if existe_prov %}
        <div class="grid-area">
            <div class="flex">
                <div>
                    <p>Nombre:</p>
                    <p class="id">{{ provider.0 }}</p>
                </div>
                <div>
                    <p>Telefono:</p>
                    <p>{{ provider.1 }}</p>
                </div>
            </div>
            <div class="flex">
                <div>
                    <p>Correo:</p>
                    <p>{{ provider.3 }}</p>
                </div>
                <div>
                    <p>País:</p>
                    <p>{{ provider.4 }}</p>
                </div>
            </div>
        </div>
        {% else %}
            <div class="flex-appear">
                <a href="#content-hidden" class="link-add">Agregar proveedor</a>
            </div>
        {% endif %}
    </main>

{% endblock  %}
{% block out-content %}
<div class="update_hidden" id="content-hidden">
    <form class="form_create">
        {% csrf_token %}
        <a class="btnClose">X</a>
        <div class="content-update">
            <input type="text" name="item" value="{{ item }}" disabled>
        </div>
        <div class="flex_form select_box">
            <div class="content-update-select">
                <label>Proveedor</label>
                <select name="sl_providers" class="sl_providers"></select>
                <button type="button" class="select_option"><i class="fa-sharp fa-solid fa-circle-check"></i></button>
            </div>
        </div>
        <div class="flex_form content-new-prov">
            <div class="content-update">
                <label>Código o RFC</label>
                <label>Nombre</label>
                <label>Télefono</label>
                <label>Email</label>
                <label>País</label>
            </div>
            <div class="content-update">
                <input type="text" name="id_prov" class="inp_hid toggle-event disable">
                <input type="text" name="prov_name" class="inp_hid toggle-event disable">
                <input type="text" name="number_phone" class="inp_hid toggle-event disable">
                <input type="text" name="email" class="inp_hid toggle-event disable">
                <input type="text" name="country" class="inp_hid toggle-event disable">
            </div>
        </div>
        <div class="content-update-btn">
            <button type="submit" class="btnUpd btnSend">Realizar cambios</button>
        </div>
    </form>
</div>
{% endblock %}
{% block js_code %}
    <script src="{% static 'js/item.js' %}"></script>
{% endblock %}