{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/tarco_ico.ico' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body class="bg-dark">
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row col-lg-6 mt-5">
            <form action="/iniciar_sesion" class="card card-body" method="POST">
                <h1>Iniciar sesión</h1>
                {% csrf_token %}
                <div class="mt-3">
                    <input type="text" id="usuario" name="usuario" class="form-control" placeholder="Nombre de usuario">
                </div>
                <div class="mt-3">
                    <input type="password" id="contra" name="contrasenia" class="form-control" placeholder="Contraseña">
                </div>
    
                <input type="submit" id="btnIniciar" class="btn btn-primary form-control mt-3" value="Iniciar sesión">
            </form>
        </div>
    </div>
</body>
</html>